<!DOCTYPE html>
<html>
<title>Scan QR | SYND Smart Queue </title>
<meta charset="UTF-8">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: 'Open Sans', sans-serif;}
h1{
text-align:centerl
}
</style>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<body style="text-align:center; background-color:#ecf5f3">

<img style="margin-top:5%;" width="400px" src="images/qrcode.png"/>
<br><br><br><br>
<H1 style="color:#607D8B;font-size:18px">Please Scan Code From SYND Smart Queue App to Register Token. <br>
(Open SYND Smart Queue App > Login With > Scan QR Code > Purpose of Visit > Continue)</H1>
</body>
</html>
